.cta-contain{
    padding: 4px 12px;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
.cta-cover{
    width: 100%;
    padding: 4px 0;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
}

.badge{
    font-size: 10px;
    display: block;
    width: max-content;
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: bold;

}


@media all and (min-width: 992px) {
    .cta-cover{
        font-size: 14px;
        padding: 6px 0;
    }
}