/* desktop */
@media (min-width: 1200px) {
.m{display: none;}
.tab{display: none;}
.pc{display: block;}

.wrap{padding: 20px 20px;}

header{}
header .wrap{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
}
header .wrap h1{
    position: unset;
}
header .wrap h1 img{width: 60px;}
header .wrap nav{
    display: flex;
    color: #343434;
    position: unset;
    background-color: unset;
    padding: unset;
    width: unset;
}
header .wrap nav.on{
    display: block;
}

header .wrap nav div{
    font-size: 20px;
    font-weight: 300;
    padding: 0 28px;
}
header .wrap .btn-opn{
    display: none;
}

/*header*/

.banner{
    padding: unset;
    background-color: #fafbfc;
}
    
.banner .wrap{
    width: 100%;
    max-width: 1078px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;
}
.banner .wrap > div{
    width: 100%;
}
.banner .wrap .text{
    /* width: calc((100% - 10px) / 2); */
    color: #343434;
    align-items: flex-start;
}
.banner .wrap .text p{
    padding: 40px 0;
    margin: unset;
    text-align: start;
}
.banner .wrap .text .tit{
    font-size: 40px;
    font-weight: 300;
}
.banner .wrap .text .sub{
    font-family: "Hanwha";
    font-size: 90px;
    font-weight: 500;
}
.banner .wrap .text .info{
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.banner .wrap .text .button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.banner .wrap .text button{
    color: #343434;
    width: 160px;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 0px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 12px 0;
    box-shadow: 2px 2px 4px #cecece;
}
    
.banner .wrap .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner .wrap .img img{width: 100%;}

/*banner*/

.con-1{
    padding: 120px 0;
}
.con-1 .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1078px;
    width: 100%;
    margin: 0 auto;
}

.con-1 .wrap>.text{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}
.con-1 .wrap .text .sub{
    font-size: 26px;
    font-weight: 400;
    color: #4181b8;
}
.con-1 .wrap .text .tit{
    font-family: hanwha;
    font-size: 40px;
    font-weight: 500;
    color: #343434;
    line-height: 58px;
}
.con-1 .wrap img{
    width: 486px;
}

.con-1 .wrap .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    width: 100%;
}
.con-1 .wrap .icon>div{
    width: 100%;
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #eaeaea;
    justify-content: space-between;
    align-items: center;
    padding: 90px 40px;
}
.con-1 .wrap .icon div>p:first-child{
    font-family: hanwha;
    font-size: 26px;
    font-weight: 500;
    color: #343434;
}
.con-1 .wrap .icon div>p:last-child{
    font-size: 20px;
    font-weight: 300;
    color: #646665;
    text-wrap: nowrap;
}
.con-1 .wrap .icon div .img{}
.con-1 .wrap .icon div>img{
    width: 137px;
    height: 147px;
}

/*con-1*/

.con-2{
    background-color: #1690f8;
    padding: unset;
}
.con-2 .wrap{
    width: 100%;
    max-width: 1078px;
    margin: 0 auto;
}
.con-2 .wrap .text{
    font-family: "Hanwha";
    font-size: 40px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
    padding: 60px 0;
}
.con-2 .wrap .img{}
.con-2 .wrap .img img{
    width: 100%;
    margin: 0 auto;

}
/*con-2*/

.con-3{
    padding: 120px 0;
}
.con-3 .wrap{
    width: 100%;
    max-width: 1078px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
}
.con-3 .wrap>div{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}
.con-3 .wrap div .text{
    text-align: start;
    gap: 32px;
}
.con-3 .wrap div .text .sub{
    font-size: 22px;
    font-weight: 500;
}
.con-3 .wrap div .text .tit{
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
}
.con-3 .wrap div .text button{
    font-size: 18px;
    font-weight: 400;
    padding: 8px 24px;
    border-radius: 20px;
    border: 1.5px solid#343434;
}
.con-3 .wrap .onestop .text{
    order: 2;
}

.con-3 .wrap div img{
    width: 300px;
    margin: 0 auto;
}

/*con-3*/

.con-4{
    background-color: #f9fafc;
}
.con-4 .wrap{
    width: 100%;
    max-width: 1078px;
    gap: 60px;
    padding: 60px 0;
}
.con-4 .wrap .text{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.con-4 .wrap .icon{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.con-4 .wrap .icon>div{
    display: flex;
    flex-direction: column;
    width: calc((100% - 30px) / 4);
    gap: 60px;
    padding: 10px 0;
}
.con-4 .wrap div .image{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #eaeaea;
    padding: 20px;
}
.con-4 .wrap div img{width: 72px;}
.con-4 .wrap div .info{}
.con-4 .wrap div .info .tit{
    font-size: 22px;
    text-align: unset;
}
.con-4 .wrap div .info .sub{
    font-size: 20px;
    line-height: 30px;
    text-align: unset;
}

/*con-4*/

.con-5{
    padding: 120px 0;
}
.con-5 .wrap{
    width: 100%;
    max-width: 1078px;
}
.con-5 .wrap .text{
    font-size: 40px;
    line-height: 58px;
}
.con-5 .wrap .image img{
    width: 60%;
    margin: 0 auto;
}
.con-5 .wrap .icon{
    flex-direction: row;
    gap: 20px;
}
.con-5 .wrap .icon>div{
    width: calc((100% - 20px) / 2);
    margin: 0 auto;
    padding: 40px 0;
}
.con-5 .wrap .icon .info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.con-5 .wrap .icon .info .title{
    font-family: hanwha;
    font-size: 22px;
    font-weight: 500;
    color: #343434;
}
.con-5 .wrap .icon .info .sub{
    font-size: 20px;
    font-weight: 300;
    color: #343434;
}
.con-5 .wrap .icon .info .cc{
    font-size: 20px;
    font-weight: 300;
    color: #a0a0a0;
}

.con-5 .wrap .icon .info ul{
    text-align: start;
    margin: 0 auto;
    list-style: disc;
    color: #343434;
}
.con-5 .wrap .icon img{
    width: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*con-5*/

footer{
    padding: 20px 0;
    background-color: #fafbfc;
}
footer .wrap{
    width: 100%;
    max-width: 1078px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 30px;
}

footer .wrap .top{}
footer .wrap .mid{}
footer .wrap .bottom{}

/*footer*/
}